@import "compass/css3/box-shadow",
        "compass/css3/transform",
        "compass/css3/transition",
        "normalize",
        "h5bp";

$wrapper_max_width: 1800px;

$default_transition: all .4s ease-in-out;

$green:  #788A4B;
$blue:   #64758F;
$yellow: #CDB964;

/*=============================================*/

.bg_green  { background: $green; }
.bg_blue   { background: $blue; }
.bg_yellow { background: $yellow; }

body {
  margin: 0 auto;
  max-width: $wrapper_max_width;
  width: auto;
}

img { max-width: 100%; }

#nav_progress ol {
  background: $yellow;
  margin: 0;
  padding: 0;
  max-width: $wrapper_max_width - 10;
}
  #nav_progress li {
    float: left;
    width: 33%;
  }
    #nav_progress a {
      color: white;
      display: block;
      font: bold 40px sans-serif;
      padding: 5px 0;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
    }


  .realm {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    &.active { display: block; }
  }

    .side_one, .side_two {
      @include backface-visibility(hidden);
      @include transition($default_transition);
      display: block;
      position: absolute;
    }
    .side_one {
      @include rotateY(0deg);
      @include transform-style(preserve-3d);
      height: 100%;
      width: 100%;
      z-index: 900;
    }
    .side_two {
      @include rotateY(-180deg);
      @include transform-style(preserve-3d);
      background: #e4ce96;
      height: 690px;
      padding: 20px;
      width: 400px;
      z-index: 800;
    }

    .card {
      @include perspective(1600);
      float: left;
      height: 730px;
      margin: 0 10px 10px 0;
      position: relative;
      width: 440px;
      &:after { content: attr(data-count); }
      &:hover .side_one, &:hover .side_two { @include box-shadow(0 5px 15px #4B4023); }
      &:hover .side_one, &.flip .side_one {
        @include rotateY(180deg);
        @include transition($default_transition);
      }
      &:hover .side_two, &.flip .side_two {
        @include rotateY(0deg);
        @include transition($default_transition);
        z-index: 1000;
      }
    }