@import "compass/css3/box-shadow",
        "compass/css3/transform",
        "compass/css3/transition",
        "normalize",
        "h5bp";

$default_transition: all .4s ease-in-out;

$green:  #788A4B;
$blue:   #64758F;
$yellow: #CDB964;

$IMFell:   "IM Fell DW Pica";
$IMFellSC: "IM Fell DW Pica SC";

/*=============================================*/

html {
  font: 18px/1.4 serif;
  margin: 0 auto;
}
body { background: #F5E6B5 url(../img/texture.png) repeat; }

.alpha {
  font: 60px $IMFellSC, serif;
  text-align: center;
}
.beta  { font: italic 40px $IMFell, serif; }
.gamma { font: italic 30px $IMFell, serif; }

img { max-width: 100%; }

.bg_green  { background: $green; }
.bg_blue   { background: $blue; }
.bg_yellow { background: $yellow; }

/*=============================================*/

#progress hgroup .beta { display: none; }

#nav_progress ol {
  background: $yellow;
  margin: 0;
  padding: 0;
  & li { float: left;
    & a {
      background-image: url(../img/texture.png);
      color: #fff;
      display: block;
      padding: 5px 0;
      text-align: center;
      text-decoration: none;
      text-shadow: -1px -1px 0px #666;
    }
  }
}


.realm {
  background: rgba(255,255,255,0.3);
  display: none;
  list-style: none;
  margin: 0 0 20px;
  padding: 20px;
  &.active { display: block; }
}
  .card {
    @include perspective(1600);
    float: left;
    height: 498px;
    margin: 20px 20px 0 0;
    position: relative;
    width: 300px;
    &.flip .side_one { @include rotateY(180deg); }
    &.flip .side_two { @include rotateY(0deg); }
  }
    .side_one, .side_two {
      @include backface-visibility(hidden);
      @include box-shadow(0 2px 5px #6d6245);
      @include transform-style(preserve-3d);
      @include transition($default_transition);
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
    }
    .side_one { @include rotateY(0deg); }
    .side_two {
      @include rotateY(-180deg);
      background: #e4ce96;
      & .gamma {
        padding: 0px 20px 0;
        text-align: center;
      }
      & p {
        bottom: 0;
        height: 150px;
        padding: 0 20px;
        position: absolute;
        text-align: center;
      }
    }

/*=============================================*/

@mixin set_full_width($full_width) {
  html, #nav_progress ol { width: $full_width; }
        #nav_progress li { width: $full_width/3; }
                  .realm { width: $full_width - 40px; }
}

//////

// 2 cards wide
@media screen and (max-width: 767px) {
  .card {
    &:nth-child(-n + 2) { margin-top:   0; }
    &:nth-child(2n)     { margin-right: 0; }
  }
}
// 3 cards wide
@media screen and (min-width: 768px) and (max-width: 1299px) {
  .card {
    &:nth-child(-n + 3) { margin-top:   0; }
    &:nth-child(3n)     { margin-right: 0; }
  }
}
// 4 cards wide
@media screen and (min-width: 1300px) {
  .card {
    &:nth-child(-n + 4) { margin-top:   0; }
    &:nth-child(4n)     { margin-right: 0; }
  }
}

//////

// PHONES
@media screen and (max-width: 767px) {
  @include set_full_width(480px);
  .card {
    height: 349px;
    width: 210px;
    & .gamma { font-size: 22px; }
  }
  .side_two p {
    font-size: 16px;
    padding: 0 5px;
    width: 200px;
  }
}


// TABLETS
@media screen and (min-width: 768px) and (max-width: 959px) {
  @include set_full_width(768px);
  .card {
    height: 380px;
    width: 229px;
    & .gamma { font-size: 24px; }
  }
  .side_two p {
    font-size: 17px;
    padding: 0 10px;
    width: 209px;
  }
}


// SMALL PC SCREENS
@media screen and (min-width: 960px) and (max-width: 1299px) {
  @include set_full_width(960px);
  .card {
    height: 465px;
    margin-right: 40px;
    width: 280px;
  }
  .side_two p { width: 240px; }
}


// LARGE PC SCREENS
@media screen and (min-width: 1300px) {
  @include set_full_width(1300px);
  .card {
    height: 498px;
    width: 300px;
  }
  .side_two p { width: 260px; }
}


// SMALL AND LARGE PC SCREENS
@media screen and (min-width: 960px) {
  body { background: fixed #fff left top repeat-x; }
  .bg0, .bg1, .bg2, .bg3, .bg4, .bg5 { @include transition(all 2s ease-in-out); }
  .bg0                                { background-image: url(../img/bg/desert.jpg); } // The seemingly unnecessary selectors preload the
  .bg1, .card:nth-child(1n) .side_one { background-image: url(../img/bg/field.jpg); }  // background images to prevent a flash on image change.
  .bg2, .card:nth-child(2n) .side_one { background-image: url(../img/bg/forest.jpg); }
  .bg3, .card:nth-child(3n) .side_one { background-image: url(../img/bg/hill.jpg); }
  .bg4, .card:nth-child(4n) .side_one { background-image: url(../img/bg/mountain.jpg); }
  .bg5, .card:nth-child(5n) .side_one { background-image: url(../img/bg/pasture.jpg); }

  .card {
    &:hover { z-index: 900; }
    &:hover .side_one, &:hover .side_two { @include box-shadow(0 5px 15px #6d6245); }
    &:hover .side_one { @include rotateY(180deg); }
    &:hover .side_two { @include rotateY(0deg); }
  }
}